* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  
}

header {
  padding: 10px;
}

.nav-container {
  width: 980px;
  margin: 0 auto;
}

.nav-section {
  display: inline-block;
}

.logo {
  width: 100px;
  vertical-align: middle;
  margin-right: 45px;
}

ul {
  display: inline-block;
}

ul li {
  display: inline-block;
  margin-right: 25px;
  padding: 10px;
}

ul li:nth-of-type(odd)::after{
  content: '\2228';
  
}

ul li:last-child {
  margin-right: 0;
}

ul li a{
  color: rgb(94, 93, 93);
}

a{
  text-decoration: none;
}

.nav-section-right {
 float: right;
}

.nav-section-right a{
  display: inline-block;
  line-height: 40px;
  width: 100%;
}

button{
  border-radius: 5px;
  margin-left: 15px;
  display: inline-block;
  height: 40px;
  width: 160px;
}

#orange{
  background-color: rgb(255,91,52);
  border: none;
}

#white{
  background-color: white;
  border: 1px solid rgb(255,91,52);
}

#orange > a{
  color: white;
}

#white > a{
  color: rgb(255,91,52);
}